.main-card-box {
  justify-content: space-between;
  text-align: start;
  margin: auto;
  @media (max-width: 768px) {
    flex-wrap: wrap;
    justify-content: center;
  }
  .slick-slider {
    .slick-list {
      padding-bottom: 40px;
    }
    .slick-dots {
      li {
        width: 12px !important;
        height: 12px !important;
        background: rgba(0, 0, 0, 0.2);
        border-radius: 50%;
        button {
          padding: 0;
          width: 12px !important;
          height: 12px !important;

          &:before {
            width: 12px !important;
            height: 12px !important;
            font-size: 0;
          }
        }
      }
      li.slick-active {
        button:before {
          opacity: 0.75;
          color: black;
          border-radius: 50%;
          background-color: #000 !important;
        }
      }
    }
  }
  .card1 {
    max-width: 428px;
    min-height: 519px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #fff;
    padding: 40px 30px 20px;
    margin-left: 10px;
    // box-shadow: 0px 10px 14px rgb(0 0 0 / 16%);
    box-shadow: 1px 2px 0px 0px rgb(0 0 0 / 16%);
    @media (max-width: 768px) {
      padding: 35px 20px 10px;
      margin: 0 auto 30px;
      min-height: 356px;
    }
    .card-detail {
      .card-hd {
        font-size: 25px;
        font-weight: 500;
        margin-bottom: 20px;
        @media (max-width: 768px) {
          margin-bottom: 17px;
          font-size: 22px;
        }
      }
      .card-para {
        font-size: 21px;
        font-weight: 400;
        line-height: 35.7px;
        color: #000;
        @media (max-width: 768px) {
          font-size: 18px;
          line-height: 1.6;
        }
      }
    }
    .card-number {
      font-size: 120px;
      font-weight: 200;
      line-height: 0.7;
      color: rgb(0 0 0 / 25%);
      text-align: end;
      @media (max-width: 768px) {
        font-size: 90px;
      }
    }
  }
}
