.hero-ideas {
  max-width: 1440px;
  margin: auto;
  padding: 270px 80px 36px 232px;
  position: relative;
  @media (max-width: 768px) and (min-width: 401px) {
    padding: 200px 25px 20px;
  }
  @media (max-width: 400px) {
    padding: 100px 25px 20px;
  }
  .main-idea {
    .header-about {
      max-width: 780px;
      margin-bottom: 30px;
      @media (max-width: 786px) and (min-width: 401px) {
        margin-bottom: 30px;
      }
      @media (max-width: 400px) {
        margin-bottom: 27px;
      }
      .hero-hd {
        color: #fff;
        font-size: 70px;
        line-height: 81.9px;
        margin-bottom: 20px;
        font-weight: normal;
        @media (max-width: 768px) and (min-width: 401px) {
          font-size: 42px;
          max-width: 330px;
          line-height: 49.14px;
        }
        @media (max-width: 400px) {
          font-size: 40px;
          line-height: 46.8px;
          margin-bottom: 17px;
        }
        .blod-text {
          font-size: 70px;
          font-weight: 500;
          line-height: 81.9px;
          @media (max-width: 768px) and (min-width: 401px) {
            font-size: 42px;
            line-height: 49.14px;
          }
          @media (max-width: 400px) {
            font-size: 40px;
            line-height: 46.8px;
          }
        }
      }
      .hero-para {
        font-size: 21px;
        line-height: 35.7px;
        font-weight: normal;
        color: #fff;
        @media (max-width: 768px) {
          font-size: 18px;
          line-height: 30.6px;
        }
      }
    }
    .main-logo-section {
      display: flex;
      justify-content: space-between;
      width: 100%;
      @media (max-width: 768px) {
        flex-direction: column;
      }
      .tag-section {
        margin-bottom: 0px;
        @media (max-width: 768px) and (min-width: 374px) {
          margin-bottom: 60px;
        }
        .link-tag {
          text-decoration: none;
          padding: 0 40px 5px 0;
          color: #f9d633;
          font-size: 20px;
          line-height: 30px;
          font-weight: normal;
          border-bottom: 4px solid #f9d633;
          @media (max-width: 768px) {
            font-size: 18px;
            border-bottom: 2px solid #f9d633;
            line-height: 27px;
          }
        }
      }
    }
  }
}
