.team-card {
  width: 407px;
  background: #666666;
  box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  &:hover {
    box-shadow: 0 0 0 1px rgb(53 72 91 / 4%), 0 2px 2px rgb(0 0 0 / 0%),
      0 4px 4px rgb(0 0 0 / 1%), 0 10px 8px rgb(0 0 0 / 2%),
      0 15px 15px rgb(0 0 0 / 2%), 0 30px 30px rgb(0 0 0 / 2%),
      0 70px 65px rgb(0 0 0 / 3%);
    opacity: 0.8;
    transition: all 0.4s ease-in-out;
  }
  .img-bx {
    .img-person {
      width: 100%;
      object-fit: cover;
      height: 410px;
    }
  }
  .person-detail {
    width: 100%;
    text-align: center;
    padding: 30px 16px;
    .person-hd {
      font-size: 25px;
      margin-bottom: 10px;
      font-weight: 600;
      line-height: 32.5px;
      color: #fff;
      @media (max-width: 767) {
        font-size: 21px;
        line-height: 27.3px;
      }
    }
    .person-pst {
      font-size: 21px;
      font-weight: normal;
      line-height: 25.2px;
      color: #fff;
      @media (max-width: 767) {
        font-size: 17px;
        line-height: 20.4px;
      }
    }
  }
}
