.main_choose {
  position: relative;
  background: #f4f4f4;
  padding: 75px 0 100px;
  text-align: center;
  .choose_container {
    max-width: 1170px;
    margin: 0 auto;
    .choose_heading {
      font-size: 20px;
      text-transform: uppercase;
      color: #f2cc2b;
      letter-spacing: 2px;
      margin: 20px 0;
    }
    .choose_subheading {
      color: #6f6f6f;
      margin-top: 0;
      letter-spacing: 2px;
      text-transform: uppercase;
      margin-bottom: 80px;
    }
    .tab_flex_box {
      display: flex;
      gap: 10px;
      .left_section {
        min-width: 475px;
        &:nth-child(odd) {
          .lists {
            .list_tab {
              &:before {
                position: absolute;
                content: "";
                top: -2px;
                height: 15px;
                transform: rotate(-2deg);
                z-index: 3;
              }
              &:after {
                position: absolute;
                content: "";
                bottom: -2px;
                height: 15px;
                transform: rotate(1deg);
                z-index: 1;
              }
            }
            .same {
              &:before {
                top: -19px;
                right: 0;
                z-index: 1;
                border-left: 455px solid transparent;
                border-bottom: 20px solid #ffffff;
              }
              &:after {
                bottom: -19px;
                right: 0;
                z-index: 0;
                border-left: 455px solid transparent;
                border-top: 20px solid #ffffff;
              }
            }
          }
        }
        &:nth-child(even) {
          .lists {
            .list_tab {
              &:before {
                position: absolute;
                content: "";
                top: -18px;
                height: 25px;
                transform: rotate(2deg);
                z-index: 3;
              }
              &:after {
                position: absolute;
                content: "";
                bottom: -18px;
                height: 25px;
                transform: rotate(-2deg);
                z-index: 1;
              }
            }
            .same {
              &:before {
                top: -18px;
                right: 0;
                z-index: 1;
                border-right: 470px solid transparent;
                border-bottom: 19px solid #ffffff;
              }
              &:after {
                bottom: -18px;
                right: 0;
                z-index: 0;
                border-right: 470px solid transparent;
                border-top: 19px solid #ffffff;
              }
            }
          }
        }
        .lists {
          max-width: 470px;

          .list {
            margin-bottom: 30px;
            display: flex;
            width: 100%;
            min-height: 92px;
            list-style: none;
            position: relative;

            .list_tab {
              .card_logo {
                background-color: #fcd846;
                padding: 15px 25px;
                width: 115px;
                height: 100%;
              }
              &:before {
                position: absolute;
                content: "";
                background-color: #fcd846;
                width: 115px;
                left: 0px;
              }
              &:after {
                position: absolute;
                content: "";
                background-color: #fcd846;
                width: 115px;
                left: 0px;
              }
            }
            .same {
              width: 100%;
              height: auto;
              cursor: pointer;
              font-size: 18px;
              padding: 33px 0;
              border-radius: 0;
              text-transform: uppercase;
              border: 0;
              text-decoration: none;
              transition: all 0.5s ease-in-out;
              position: relative;

              &:before {
                position: absolute;
                content: "";
                transition: all 0.5s ease-in-out;
              }
              &:after {
                position: absolute;
                content: "";
                transition: all 0.5s ease-in-out;
              }
            }
            .para_section {
              color: #fff;
              background-color: #2c3e50;
              &:before {
                position: absolute;
                content: "";
                border-bottom-color: #2c3e50;
              }
              &:after {
                position: absolute;
                content: "";
                border-top-color: #2c3e50;
              }
              &:hover {
                background: #fff;
                color: #2c3e50;

                &:before {
                  border-bottom-color: #fff;
                }
                &:after {
                  border-top-color: #fff;
                }
              }
              .list_para {
                background-color: transparent;
              }
            }
            background: #fff;
            color: #2c3e50;
          }
        }
      }

      .right_main {
        width: 100%;
        background-color: #fff;
        .right_section {
          max-width: 665px;
          display: flex;
          padding: 10px 18px;
          position: relative;
          &:before {
            content: "";
            position: absolute;
            top: -20px;
            left: 0;
            border-right: 675px solid transparent;
            border-bottom: 20px solid #fff;
          }
          &:after {
            position: absolute;
            content: "";
            bottom: -15px;
            left: 0;
            border-right: 675px solid transparent;
            border-top: 23px solid #fff;
          }
          .right_img_bx {
            width: 314px;
            height: 302px;
            .right_img {
              width: 314px;
              height: 100%;
              object-fit: cover;
            }
          }
          .bottom_content {
            font-size: 13px;
            line-height: 30px;
            padding: 25px;
            overflow: hidden;
            color: #6f6f6f;
            .rightchoose_para {
              margin: 0 0 10px;
              text-align: justify;
            }
            .choose_last_bx {
              display: flex;
              margin-top: 15px;
              align-items: center;
              .arrow_bx {
                color: #ccc;
                width: 20px;
                height: 20px;
                line-height: 19px;
                padding-left: 2px;
                position: relative;
                font-size: 12px;
                text-align: center;
                border: 1px solid #cccccc;
                border-radius: 50%;
                margin-right: 20px;
                transition: all 500ms ease;
                &:hover {
                  background: #fcd846;
                  border: none;
                  &::before {
                    content: url("../../../assets/images/choose_arrow_logo_hover.svg");
                    position: absolute;
                    bottom: 0;
                  }
                }
                .right_arrow {
                  width: 100%;
                  height: auto;
                }
              }
            }
          }
        }
      }
    }
  }
}
