.process_banner {
  background-image: url(../../../assets/images/process_banner.jpg);
  background-repeat: no-repeat;
  width: 100%;
  height: 725px;
  background-size: cover;
  position: relative;
  z-index: 1;
  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: rgba(44, 62, 80, 0.9);
    z-index: -1;
  }
  .process_container {
    max-width: 1440px;
    display: flex;
    gap: 30px;
    justify-content: center;
    margin: 0 auto;
    .process_image {
      margin-top: -79px;
      text-align: center;
      .left_logo {
        width: auto;
        height: auto;
        object-fit: cover;
      }
    }
    .process_accordian {
      color: #fff;
      padding: 55px 0 50px;
      .process_info {
        margin-bottom: 40px;
        text-transform: uppercase;
        .process_heading {
          font-size: 20px;
          text-transform: uppercase;
          color: #f2cc2b;
          margin: 20px 0;
          letter-spacing: 2px;
        }
        .process_subheading {
          letter-spacing: 2px;
        }
      }
      .accordion {
        width: 617px;
        .accordion-item {
          border-bottom: 2px solid #5a6878 !important;
          border: none;
          background: transparent;
          .accordion-button {
            background: transparent;
            color: #fff;
            padding: 10px 0 15px;
            text-transform: capitalize;
            font-weight: 600;
            font-size: 16px;
            margin-top: 15px;
            &:focus {
              border-color: none;
              outline: 0;
              box-shadow: none;
            }
            &:not(.collapsed) {
              margin-top: 10px;
              transition: all 0.3s ease-in-out;
            }
            .num_logo {
              transition: all 0.3s ease-in-out;
              //   &:not(.collapsed) {
              //     margin-top: 10px;
              //     transition: all 0.3s ease-in-out;
              //   }
            }
            a {
              width: 240px;
              letter-spacing: 1.5px;
              text-align: center;
            }
            .accord_logo {
              opacity: 0.5;
              transition: all 0.3s ease-in-out;
              margin-left: auto;
              //   &:not(.collapsed) {
              //     margin-bottom: -70px;
              //     transition: all 0.3s ease-in-out;
              //   }
            }
            &::after {
              width: 0;
              height: 0;
              margin-left: inherit;
              content: "";
              background-image: none;
            }
          }
          //   .accordion-body {
          //     max-width: 537px;
          //     margin-left: auto;
          //   }
        }
      }
    }
  }
}
