.main-services {
  padding: 150px 45px 80px;
  background-color: #f9f9f9;
  @media (max-width: 768px) {
    padding: 80px 9px 60px;
  }
  .services-container {
    // max-width: 910px;
    color: #000;
    text-align: center;
    padding: 0px 15px;
    margin-right: auto;
    margin-left: auto;
    @media (max-width: 768px) {
      padding: 0px;
    }
    .services-hd {
      max-width: 530px;
      font-size: 45px;
      font-weight: bold;
      margin: 0 auto 25px;
      @media (max-width: 768px) {
        max-width: 490px;
        margin: 0 auto 35px;
        line-height: 1.3;
        font-size: 28px;
      }

      .hd-color {
        background-color: #f9d633;
        color: #000;
        padding: 4px 10px;
        line-height: 54px;
        font-size: 35px;
        @media (max-width: 768px) {
          font-size: 28px;
          padding: 5px;
        }
      }
    }
    .services-para {
      max-width: 800px;
      font-size: 22px;
      line-height: 1.6;
      margin: 0 auto 40px;
      font-weight: 500;
      @media (max-width: 768px) {
        margin-bottom: 40px;
        font-size: 18px;
        font-weight: normal;
      }
    }
  }
  .main_services_cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    .service_card {
      background-color: #fff;
      min-height: 496px;
      overflow: hidden;
      position: relative;
      transform: perspective(2500px) rotateY(0);
      padding: 20px 25px 35px;
      &:hover {
        .react {
          color: #000;
        }
      }
      .service_heading {
        max-width: 212px;
        font-weight: bold;
        color: #000;
        line-height: 1.3;
        font-size: 32px;
        margin-bottom: 20px;
      }
      .service_para {
        max-width: 400px;
        font-size: 19px;
        line-height: 1.6;
        font-weight: normal;
        color: #000;
      }

      .react {
        position: relative;
        font-size: 80px;
        line-height: 80px;
        animation: mymove 5s infinite;
        -webkit-text-fill-color: rgba(0, 0, 0, 0);
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: 000;
        padding-bottom: 15px;
        font-weight: 700;
        color: transparent;
        transition: all ease-in-out 0.5s;
        @keyframes mymove {
          from {
            right: -500px;
          }
          to {
            right: 600px;
          }
        }
      }
    }
  }
}
